
@media only screen and (max-width: 600px) {
    #des{
       display: none;
    }
    #mob{
       display: block !important;
    }
   }
   
   
   @import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap");
   html {
     box-sizing: border-box;
     font-size: 100%;
   }
   
   html,
   body {
     height: 100%;
   }
   
   *,
   *:before,
   *:after {
     box-sizing: inherit;
   }
   
   img {
     max-width: 100%;
     height: auto;
   }
   
   body {
     -webkit-text-size-adjust: 100%;
     font-variant-ligatures: none;
     text-rendering: optimizeLegibility;
     -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
     font-size: 100%;
     font-family: "Fira Sans", sans-serif;
   }
   
   h1,
   h2,
   h3,
   h4,
   h5 {
     font-weight: 800;
     margin-top: 0;
     margin-bottom: 0;
   }
   
   /* body {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 0;
     padding: 0;
     height: 100vh;
     color: #1f1d42;
     background-color: #f0f8e1;
   } */
   
   .card-hover {
     width: 360px;
     height: 400px;
     position: relative;
     overflow: hidden;
     box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
   }
   .card-hover:has(.card-hover__link:hover) .card-hover__extra {
     transform: translateY(0);
     transition: transform 0.35s;
   }
   .card-hover:hover .card-hover__content {
     background-color: #dee8c2;
     bottom: 100%;
     transform: translateY(100%);
     padding: 50px 60px;
     transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
   }
   .card-hover:hover .card-hover__link {
     opacity: 1;
     transform: translate(-50%, 0);
     transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
   }
   .card-hover:hover img {
     transform: scale(1);
     transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
   }
   .card-hover__content {
     width: 100%;
     text-align: center;
     background-color: #86b971;
     padding: 0 60px 50px;
     position: absolute;
     bottom: 0;
     left: 0;
     transform: translateY(0);
     transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
     will-change: bottom, background-color, transform, padding;
     z-index: 1;
   }
   .card-hover__content::before, .card-hover__content::after {
     content: "";
     width: 100%;
     height: 120px;
     background-color: inherit;
     position: absolute;
     left: 0;
     z-index: -1;
   }
   .card-hover__content::before {
     top: -80px;
     -webkit-clip-path: ellipse(60% 80px at bottom center);
             clip-path: ellipse(60% 80px at bottom center);
   }
   .card-hover__content::after {
     bottom: -80px;
     -webkit-clip-path: ellipse(60% 80px at top center);
             clip-path: ellipse(60% 80px at top center);
   }
   .card-hover__title {
     font-size: 1.5rem;
     margin-bottom: 1em;
   }
   .card-hover__title span {
     color: #2d7f0b;
   }
   .card-hover__text {
     font-size: 0.75rem;
   }
   .card-hover__link {
     position: absolute;
     bottom: 1rem;
     left: 50%;
     transform: translate(-50%, 10%);
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     text-decoration: none;
     color: #2d7f0b;
     opacity: 0;
     padding: 10px;
     transition: all 0.35s;
   }
   .card-hover__link:hover svg {
     transform: translateX(4px);
   }
   .card-hover__link svg {
     width: 18px;
     margin-left: 4px;
     transition: transform 0.3s;
   }
   .card-hover__extra {
     height: 50%;
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     width: 100%;
     font-size: 1.5rem;
     text-align: center;
     background-color: #86b971;
     padding: 80px;
     bottom: 0;
     z-index: 0;
     color: #dee8c2;
     transform: translateY(100%);
     will-change: transform;
     transition: transform 0.35s;
   }
   .card-hover__extra span {
     color: #2d7f0b;
   }
   .card-hover img {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     -o-object-fit: cover;
        object-fit: cover;
     -o-object-position: center;
        object-position: center;
     z-index: -1;
     transform: scale(1.2);
     transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
   }
   
   /* about ccs */
   * {
     font-family: Nunito, sans-serif;
   }
   
   .text-blk {
     margin-top: 0px;
     margin-right: 0px;
     margin-bottom: 0px;
     margin-left: 0px;
     padding-top: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
     line-height: 25px;
   }
   
   .responsive-container-block {
     min-height: 75px;
     height: fit-content;
     width: 95%;
     padding-top: 10px;
     padding-right: 10px;
     padding-bottom: 10px;
     padding-left: 10px;
     display: flex;
     flex-wrap: wrap;
     margin-top: 0px;
     /* margin-right: auto; */
     margin-bottom: 0px;
     /* margin-left: auto; */
     justify-content: flex-start;
   }
   
   .responsive-container-block.bigContainer {
     padding-top: 10px;
     padding-right: 30px;
     padding-bottom: 10px;
     padding-left: 30px;
     background-image: url("https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb29.png");
     background-position-x: initial;
     background-position-y: initial;
     background-size: cover;
     background-attachment: initial;
     background-origin: initial;
     background-clip: initial;
     background-color: initial;
     background-repeat-x: no-repeat;
     background-repeat-y: no-repeat;
   }
   
   .responsive-container-block.Container {
     max-width: 800px;
     flex-direction: column;
     align-items: center;
     padding-top: 20px;
     padding-right: 20px;
     padding-bottom: 20px;
     padding-left: 20px;
     margin-top: 150px;
     margin-right: auto;
     margin-bottom: 150px;
     margin-left: auto;
     background-color: white;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
   }
   
   .text-blk.heading {
     font-size: 36px;
     line-height: 45px;
     font-weight: 800;
     margin-top: 0px;
     margin-right: 0px;
     margin-bottom: 30px;
     margin-left: 0px;
   }
   
   .text-blk.subHeading {
     text-align: center;
     font-size: 18px;
     line-height: 26px;
     margin-top: 0px;
     margin-right: 0px;
     margin-bottom: 60px;
     margin-left: 0px;
   }
   
   .socialIcon {
     width: 33px;
     height: 33px;
   }
   
   .social-icons-container {
     display: flex;
     flex-direction: row;
     align-items: flex-start;
   }
   
   .social-icon {
     margin: 0 50px 0 50px;
   }
   
   .social-icon:hover {
     cursor: pointer;
   }
   
   @media (max-width: 768px) {
     .text-blk.heading {
       font-size: 55px;
       line-height: 65px;
     }
   
     .text-blk.subHeading {
       font-size: 18px;
       line-height: 24px;
     }
   
     .socialIcon {
       width: 20px;
       height: 20px;
     }
   
     .text-blk.subHeading {
       line-height: 27px;
     }
   
     .text-blk.heading {
       font-size: 32px;
       line-height: 40px;
       margin-top: 0px;
       margin-right: 0px;
       margin-bottom: 20px;
       margin-left: 0px;
     }
   
     .social-icon {
       margin: 0 25px 0 25px;
     }
   }
   
   @media (max-width: 500px) {
     .responsive-container-block.bigContainer {
       padding-top: 10px;
       padding-right: 20px;
       padding-bottom: 10px;
       padding-left: 20px;
     }
   
     .text-blk.heading {
       font-size: 45px;
       line-height: 55px;
       margin-top: 0px;
       margin-right: 0px;
       margin-bottom: 20px;
       margin-left: 0px;
     }
   
     .text-blk.subHeading {
       font-size: 14px;
       line-height: 22px;
       margin-top: 0px;
       margin-right: 0px;
       margin-bottom: 30px;
       margin-left: 0px;
     }
   
     .social-icons-container {
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
     }
   
     .text-blk.subHeading {
       font-size: 16px;
       line-height: 23px;
     }
   
     .text-blk.heading {
       font-size: 26px;
       line-height: 30px;
     }
   
     .social-icon {
       margin: 0 20px 0 20px;
     }
   }
   
   /* Hide scrollbar for Chrome, Safari and Opera */
   .example::-webkit-scrollbar {
     display: none;
   }
   
   /* Hide scrollbar for IE, Edge and Firefox */
   .example {
     -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
   }
   
   
   /* Contact */
   *, *:before, *:after {
     box-sizing: border-box;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
   }
   
   body {
     /* background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%); */
     font-size: 12px;
   }
   
   body, button, input {
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     letter-spacing: 1.4px;
   }
   
   .background {
     display: flex;
     min-height: 100vh;
   }
   
   .container {
     flex: 0 1 700px;
     margin: auto;
     padding: 10px;
   }
   
   .screen {
     position: relative;
     background: #3e3e3e;
     border-radius: 15px;
   }
   
   .screen:after {
     content: '';
     display: block;
     position: absolute;
     top: 0;
     left: 20px;
     right: 20px;
     bottom: 0;
     border-radius: 15px;
     box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
     z-index: -1;
   }
   
   .screen-header {
     display: flex;
     align-items: center;
     padding: 10px 20px;
     background: #4d4d4f;
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
   }
   
   .screen-header-left {
     margin-right: auto;
   }
   
   .screen-header-button {
     display: inline-block;
     width: 8px;
     height: 8px;
     margin-right: 3px;
     border-radius: 8px;
     background: white;
   }
   
   .screen-header-button.close {
     background: #ed1c6f;
   }
   
   .screen-header-button.maximize {
     background: #e8e925;
   }
   
   .screen-header-button.minimize {
     background: #74c54f;
   }
   
   .screen-header-right {
     display: flex;
   }
   
   .screen-header-ellipsis {
     width: 3px;
     height: 3px;
     margin-left: 2px;
     border-radius: 8px;
     background: #999;
   }
   
   .screen-body {
     display: flex;
   }
   
   .screen-body-item {
     flex: 1;
     padding: 50px;
   }
   
   .screen-body-item.left {
     display: flex;
     flex-direction: column;
   }
   
   .app-title {
     display: flex;
     flex-direction: column;
     position: relative;
     color: #ea1d6f;
     font-size: 26px;
   }
   
   .app-title:after {
     content: '';
     display: block;
     position: absolute;
     left: 0;
     bottom: -10px;
     width: 25px;
     height: 4px;
     background: #ea1d6f;
   }
   
   .app-contact {
     margin-top: auto;
     font-size: 8px;
     color: #888;
   }
   
   .app-form-group {
     margin-bottom: 15px;
   }
   
   .app-form-group.message {
     margin-top: 40px;
   }
   
   .app-form-group.buttons {
     margin-bottom: 0;
     text-align: right;
   }
   
   .app-form-control {
     width: 100%;
     padding: 10px 0;
     background: none;
     border: none;
     border-bottom: 1px solid #666;
     color: #ddd;
     font-size: 14px;
     text-transform: uppercase;
     outline: none;
     transition: border-color .2s;
   }
   
   .app-form-control::placeholder {
     color: #666;
   }
   
   .app-form-control:focus {
     border-bottom-color: #ddd;
   }
   
   .app-form-button {
     background: none;
     border: none;
     color: #ea1d6f;
     font-size: 14px;
     cursor: pointer;
     outline: none;
   }
   
   .app-form-button:hover {
     color: #b9134f;
   }
   
   .credits {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
     color: #ffa4bd;
     font-family: 'Roboto Condensed', sans-serif;
     font-size: 16px;
     font-weight: normal;
   }
   
   .credits-link {
     display: flex;
     align-items: center;
     color: #fff;
     font-weight: bold;
     text-decoration: none;
   }
   
   .dribbble {
     width: 20px;
     height: 20px;
     margin: 0 5px;
   }
   
   @media screen and (max-width: 520px) {
     .screen-body {
       flex-direction: column;
     }
   
     .screen-body-item.left {
       margin-bottom: 30px;
     }
   
     .app-title {
       flex-direction: row;
     }
   
     .app-title span {
       margin-right: 12px;
     }
   
     .app-title:after {
       display: none;
     }
   }
   
   @media screen and (max-width: 600px) {
     .screen-body {
       padding: 40px;
     }
   
     .screen-body-item {
       padding: 0;
     }
   }
   
   
     